.layout-section {
  min-height: 100vh;
}

/* .content-section {
  margin: 1rem;
  background-color: #f0f2f5; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
} */